.bars{
    position: relative;
    width: 1662px;
}
.header{
    width: 100%;
}
.cs-div1{
    height:275px;
    position: relative;
    top: 27px;
}
.cs-div1-1{
    display: inline-block;
    position: relative;
    top: 220px;
    font-size:50px;
    left: 170px;
    color: white;
}
.cs-div2{
    height: 200px;
    position: relative;
    top: 25px;
}
.cs-div2-row{
    display: flex;
    flex-direction: row;
    height: 65px;
    height: 55px;
    padding-top: 10px;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 2px;
    
}
.cs-div2-dates{
    font-size:40px ;
    border-color: beige;
    border-style: outset;
    border-width: 2px;
    color: white;
    text-shadow: 0 0 1px white;
}
.cs-div3-1{
    position: relative;
    top: 24px;
    left: 20px;
    font-size: 20px;
}
.cs-div3-2{
    position: relative;
    top: 24px;
    left: 20px;
    font-size: 20px;
}
.cs-div3-2-1{
    position: relative;
    top: 30px;
    left: 50px;
    width: 400px;
    border-style: solid;
    border-color: brown;
}
.cs-div3-2-1-para{
    width: 250px;
    padding-top: 5px;
    padding-bottom:  5px;
    color: white;
}
.common{
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}
.dashboard-company{
    display: inline-block;
    font-size: 70px;
    font-weight: bold;
    position: relative;
    vertical-align: top;
    left: 550px;
    font-family: 	The Quick Brown Fox Jumps Over The Lazy Dog;
    text-decoration: underline;
    color: white;
}
.brandlogo{
    display: inline-block;
    width: 70px;
    border-radius: 35px 35px 35px 35px;
    position: relative;
    left: 550px;
    top: 5px;
}
.all-content{
    height: 750px;
    width: 1662px;

}
.calender-section{
    display: inline-block;
    width: 500px;
    height: 740px;
    vertical-align: top;
    position:relative ;
    left: 15px;
    border-style: outset;
    border-color: white;
    border-radius: 10px;
}
.remaining-section{
    display: inline-block;
    height: 750px;
    width: 950px;
    position: relative;
    left: 30px;
}
.rs-div1{
    width: 945px;
    height: 250px;
}
.rs-div2{
    width: 945px;
    height: 250px;
}
.rs-div3{
    width: 945px;
    height: 250px;
}
.rs-div2-1{
    height: 235px;
    width: 440px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 5px;
    left: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
}
.rs-div2-2{
    height: 235px;
    width: 440px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 5px;
    left: 45px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    
}
.rs-div3-1{
    height: 235px;
    width: 440px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 20px; 
    border-radius: 20px;
    border-color: white;
    border-style: solid;
}
.rs-div3-2{
    height: 235px;
    width: 440px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 45px; 
    border-radius: 20px;
    border-color: white;
    border-style: solid;
}
.rs-div2-1-1{
    font-size: 40px;
    position: relative;
    top: 40px;
    border-radius: 15px;
}    

.rs-div2-1-1-1{
    display: inline-block;
    position: relative;
    vertical-align: top;
    left: 150px;
    top: 10px;
    font-weight: bold;
    color: white;
}
.rs-div2-1-1-2{
    display: inline-block;
    position: relative;
}
.rs-div2-2-1{
    font-size: 40px;
    position: relative;
    top: 40px;
    border-radius: 15px;
}    
.rs-div2-2-1-1{
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 10px;
    left: 60px;
    font-weight: bold;
    color: white;
}
.rs-div2-2-1-2{
    display: inline-block;
    position: relative;
    vertical-align: top;
}    
.rs-div3-1-1{
    font-size: 40px;
    position: relative;
    top: 40px;
    border-radius: 15px;
}    
.rs-div3-1-1-1{
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 10px;
    left: 210px;
    font-weight: bold;
    color: white;
}
.rs-div3-1-1-2{
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.rs-div3-2-1{
    font-size: 40px;
    position: relative;
    top: 40px;
    border-radius: 15px;
}    
.rs-div3-2-1-1{
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 10px;
    left: 140px;
    font-weight: bold;
    color: white;
}
.rs-div3-2-1-2{
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.rs-div1-1{

    font-size: 40px;
    vertical-align: top;
    position: relative;
    top: 160px;
    left: 580px;
    display: inline-block;
}
.rs-div1-1-1{
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 10px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-color: white;
    border-style: solid;
    text-shadow: 0 0 2px black;
}
.rs-div1-1-2{
    display: inline-block;
    position: relative;
    top: 14px;
}
.rs-div1-1-3{
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 59px;
    right: 290px;
    font-size: 20px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
}
.logo0{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
}
.logo1{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    top: 5px;
    left: 150px;
}
.logo2{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    top: 5px;
    left: 60px;
}
.logo3{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    top: 5px;
    left: 210px;
}
.logo4{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    top: 5px;
    left: 140px;
}
.rs-div2-1-2{
    position: relative;
    top: 45px;
}
.rs-div2-1-2-all{
    font-size: 15px;
    padding-left: 100px;
    padding-bottom: 2px;
}
.rs-div2-2-2{
    position: relative;
    top: 45px;
}
.rs-div3-1-2{
    position: relative;
    top: 45px;
}
.rs-div3-2-2{
    position: relative;
    top: 45px;
}
.rs-div3-1-2-all{
    font-size: 15px;
    padding-left: 100px;
    padding-bottom: 2px;
}
.rs-div3-2-2-all{
    font-size: 15px;
    padding-left: 100px;
    padding-bottom: 2px;
}
.rs-div2-2-2-all{
    font-size: 15px;
    padding-left: 100px;
    padding-bottom: 2px;
}
.buttons{
    border-style: outset;
    color: gray;
    border-radius: 15px;
    border-radius: 10px;
    margin-top: 5px;
}
.buttons:hover{
    background-color: rgb(90, 179, 252);
}
.buttons:active{
    opacity: 0.5;
}
.chats{
    display: inline-block;
    height: 740px;
    width: 150px;
    position: relative;
    vertical-align: top;
    left: 40px;
    border-radius: 10px;
    border-style: outset;
    border-color: white;
}
.chats1{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    left: 40px;
}
.chats2{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    left: 40px;
}
.chats3{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    left: 40px;
}
.chats4{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    left: 40px;
    top: 20px;
}
.chats-msg{
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    padding-left: 10px;
    text-decoration: underline;
}
.chat-name1{
    font-size: 20px;
    position: relative;
    left: 40px;
    display: inline-block;
    top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
.chat-name2{
    font-size: 20px;
    position: relative;
    display: inline-block;
    top: 25px;
    right: 22px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
.chat-name3{
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
.chat-id{
    margin-top: 30px;
}
.noti{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    vertical-align: top;
    left: 20px;  
}
